<nav>
    <div class="site-nav teal">

        <a href="{%url 'index'%}" class="brand">
            <h3>Online Delight</h3>
        </a>
        <form action="{%url 'search'%}" class="search-form">
            <input type="search" name="q" placeholder="search product , category" class="search">
            <button class="white teal-text btn waves-effect   search-btn" type="submit">Search</button>

        </form>
        <ul class="nav-links">
            <li>
                <a href="{%url 'products_list'%}" class="btn">Products</a>
            </li>
            <li>
                <a href="#" class="dropdown-trigger btn" ata-target="user info"> <i class="material-icons">perm_identity</i></a>
            </li>
            <li><a href="{%url 'profile'%}" class="btn"><i class="material-icons left">shopping_cart</i></a></li>


    </div>
</nav>