<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'index'%}" style="width: 200px">
            <h4>Online delight</h4>
        </a>

        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <form class="search" action="{%url 'search'%}">
            <input class="form-control  bg-dark  border-success" type="search" placeholder="Search product ,category" aria-label="Search" name="q" style="width: 300px" />
            <button class="btn  btn-outline-success" type="submit">Search</button>
        </form>

        <div class="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.is_authenticated %}
                        Hello {{user}}
                        {% else %}
                        Account
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="color: #fff">

                        <li><a class="dropdown-item" href="{%url 'profile'%}"><span class="bi bi-person">

                                </span>My Account</a></li>

                        <li><a class="dropdown-item" href="#"><span class="bi bi-heart">

                                </span>Saved Items</a></li>

                        <li><a class="dropdown-item" href="{%url 'orders'%}"><span class="bi bi-bag-check">

                                </span>My Orders</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                            <a class="dropdown-item out" href="{%url 'logout'%}">
                                <button class="btn btn-success">SIGN OUT</button>
                            </a> {% else %}
                            <a class="dropdown-item out" href="{%url 'login'%}">
                                <button class="btn btn-success">SIGN
                                    IN</button></a>
                            {% endif %}
                        </li>
                    </ul>
                </li>

                <li class="nav-item cart">
                    <a class="nav-link" href="{%url 'cart'%}"><span class="material-icons">
                            shopping_cart
                        </span>
                        {% if cart_number %}
                        <small class=" text-info cart-number">{{cart_number}}</small>
                        {% endif %}
                    </a>
                </li>


            </ul>
        </div>

    </div>

</nav>