<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Online Delight</a>
        <form action="{%url 'search'%}" method="get" style="width: 300px;position:absolute;left:25%;display:flex">
            <input type="search" name="q" placeholder="search product , brand ,category">
            <input type="submit" value="search" style="width: 100px;height:30px;margin:20px">

        </form>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{%url 'products_list'%}">Products</a></li>
            <li><a href="{%url 'profile'%}">Profile</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>

        </ul>


    </div>
</nav>