{% extends '../base.html' %} {% block title %}{{user}} {% endblock title %} {% block content %}

<div class="container mt-5 mb-5">
    {% if orders %}
    <div class="col-sm partition overflow-hidden">
        <div class=" bg-success text-center text-light p-2">
            <h4>Order Details</h4>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Date Made</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{order.order_id}}</td>
                    <td>{{order.date_made}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <a href="{%url 'delete' order.order_id%}">
                            <span class="btn-sm btn-primary">DELETE</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% else %}

    <div class="message p-5 "><img src="https://candleroses.com/images/Cart-empty.gif" alt="">
        <h4 class="text-secondary text-center m-5" style="font-family: cursive;">Oops , No Orders To Display !</h4>

    </div>
    <a href="{%url 'products_list'%}">
        <div class="start-shopping btn btn-success text-center p-2 m-2">
            <h5>Start Shopping</h5>
        </div>
    </a>
</div>

{% endif %}


</div>

{%endblock content%}