{% extends '../base.html'%} {% block title %} DelightOnline - products {%endblock title %} {% block content %}

<div class="product_list row container" style="margin:  30px 0;">

    {% if page_obj %} {% for product in page_obj %}
    <div class="col" style="margin-bottom: 25px;">{% include "../components/product.html" %} </div>{% endfor %} {% else %}
    <div class="message p-5 "><img src="https://candleroses.com/images/Cart-empty.gif" alt=""> {% if search %}
        <h4 class="text-secondary text-center m-5" style="font-family: cursive;">There are no results for "{{search}}"
        </h4>

        {% else %}
        <h4 class="text-secondary text-center m-5" style="font-family: cursive;">No products to display !</h4>

        {% endif %}


    </div>
    <a href="{%url 'index'%}">
        <div class="start-shopping btn btn-success text-center p-2" style="bottom: 30px;">
            <h5>Go To Home Page</h5>
        </div>
    </a>
    {% endif %} {% include "../components/pagination.html" %}

</div>

{% endblock content %}