{% extends '../base.html'%} {% block title %} DelightOnline - {{product.name}} {%endblock title %} {% block content %}
<div class=" shop-card product-detail">
    <div class="image">
        <img src="{{product.image_url}}" alt="">
    </div>
    <div class="left">
        <h2 class="product-name">{{product.name}}</h2>
        <p>Category <a href="{%url 'category' product.category.name%}" class="category-link">{{product.category}}</a>
        </p>
        <h3 class="price">Price: KSH {{product.price}}</h3>

        <a href="{%url 'add_to_cart' product.name%}"><button class="cart-add">Add To Cart</button></a>

    </div>

</div>

<div class="shop-card product-description">
    <h2>Product Description</h2>
    <p>{{product.description}}</p>
</div>

{% if reviews %}
<div class="shop-card reviews">
    {% for review in reviews %}
    <div class="review">
        <h4 class="customer-name">{{review.customer}}</h4>
        <p class="customer-review">{{review.review}}</p>
        <p class="customer-review">{{review.rating}}</p>
        <small class="review-date">{{review.date_made}}</small>
    </div>
    {%endfor%}
</div>


{% endif %}

</div>{% endblock content %}