{% extends '../base.html' %} {% block title %}{{user}} {% endblock title %} {% block content %}


<div class="cart-items container py-5 row">

    <div class="col-sm-4 partition overflow-hidden m-2">
        <div class="bg-success text-light p-2">
            <h4>Menu</h4>
        </div>
        <div class="content">
            <a href="">
                <div class="  text-success text-center ">
                    <span class="material-icons" style="margin-right: 30px;">shopping_basket</span>
                    <a href="{%url 'orders'%}"><strong>Orders</strong></a>
                </div>
            </a>


            <a href="">
                <div class="  text-success text-center ">
                    <span class="material-icons" style="margin-right: 30px;">reviews</span>
                    <strong>Reviews</strong>
                </div>
            </a>
            <a href="">
                <div class="  text-success text-center ">
                    <span class="material-icons" style="margin-right: 30px;">favorite_border</span>
                    <strong>Saved</strong>
                </div>
            </a>

            <a href="">
                <div class="  text-success text-center ">
                    <span class="material-icons" style="margin-right: 30px;">edit</span>
                    <strong>Edit profile</strong>
                </div>
            </a>

            <hr>
            <a href="">
                <div class="  text-success text-center mb-5 ">
                    <span class="material-icons" style="margin-right: 30px;">logout</span>
                    <a href="{%url 'logout'%}"></a>
                </div>
            </a>
        </div>

    </div>
    <div class="col-sm partition overflow-hidden" style="height:230px">
        <div class=" bg-success text-center text-light p-2">
            <h4>Account Details</h4>
        </div>

        <table class="table table-striped">

            <tbody>
                <tr>
                    <th scope="row">Username</th>
                    <td></td>
                    <td>{{user.profile.username}}</td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td></td>
                    <td>{{user.profile.email}}</td>
                    <td></td>

                </tr>
                <tr>
                    <th scope="row">Address</th>
                    <td></td>
                    <td>Winstonshere</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Phone</th>
                    <td></td>
                    <td>{{user.phone_number}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>


</div>
{% endblock content %}